name: Deploy documentation
on:
  push:
    branches: [ "main" ]

env:
  build-number: ${GITHUB_RUN_NUMBER}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Checkout Docs Branch
        run: git checkout docs
      - name: Merge Updates on Main into Docs
        run: git merge main
      - name: Build Doxygen Documentation
        uses: mattnotmitt/doxygen-action@v1.9.5
        with:
          working-directory: '${{ github.workspace }}'
          doxyfile-path: 'docs/doxygen/Doxyfile'
      - name: Push Builded Documentation
        run: |
          git add -A
          git commit -m "build docs for commit ${{ github.sha }}"
          git push
      - name: Deploy Documentation
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/html
          publish_branch: docs
