name: Test for changes on main branch
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  build-number: ${GITHUB_RUN_NUMBER}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Change directory to tests
        run: cd ${{ github.workspace }}/tests/
      - name: Print Working Directory
        run: pwd
      - name: Print Makefile
        run: cat Makefile
      - name: Compile Test Files
        run: make compile
      - name: Run Test Cases
        run: make test
