name: Test for changes on main branch
on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/test.yml'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/test.yml'
      - 'docs/**'
  workflow_dispatch:
  # Allows you to run this workflow manually from the Actions tab

env:
  build-number: ${GITHUB_RUN_NUMBER}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Tests
        run: |
          cd ${{ github.workspace }}/tests/ && make compile && make test && make clean
